@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #000;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .box-flex {
    @apply flex flex-col justify-center items-center;
  }

  .class-box {
    @apply w-full flex flex-col gap-[40px] px-6 py-8 bg-white rounded-xl border border-gray-200;
  }

  .time-box {
    @apply relative flex justify-center items-center w-[124px] h-[42px] p-3 bg-white rounded-lg border border-gray-300;
  }

  .bold-500 {
    @apply font-bold text-primary-500;
  }

  .medium-500 {
    @apply font-medium text-primary-500;
  }

  .input-box {
    @apply w-full h-auto px-4 py-3.5 rounded-lg border border-gray-200 box-border overflow-hidden text-gray-900 text-base font-normal   placeholder:s-placeholder focus:outline-none focus:border focus:border-primary-700;
  }

  .black-bold {
    @apply text-black font-bold;
  }

  .gray-900-bold {
    @apply text-gray-900 font-bold;
  }

  .gray-900-semibold {
    @apply text-gray-900 font-semibold;
  }

  .gray-900-normal {
    @apply text-gray-900 font-normal;
  }

  .gray-900-medium {
    @apply text-gray-900 font-medium;
  }

  .gray-800-bold {
    @apply text-gray-800 font-bold;
  }

  .gray-800-semibold {
    @apply text-gray-800 font-semibold;
  }

  .gray-800-normal {
    @apply text-gray-800 font-normal;
  }

  .gray-800-medium {
    @apply text-gray-800 font-medium;
  }

  .gray-700-medium {
    @apply text-gray-700 font-medium;
  }

  .gray-600-normal {
    @apply text-gray-600 font-normal;
  }

  .gray-600-medium {
    @apply text-gray-600 font-medium;
  }

  .gray-500-medium {
    @apply text-gray-500 font-medium;
  }

  .gray-500-normal {
    @apply text-gray-500 font-normal;
  }

  .gray-400-medium {
    @apply text-gray-400 font-medium;
  }

  .gray-300-medium {
    @apply text-gray-300 font-medium;
  }

  .indigo-500-semibold {
    @apply text-indigo-500 font-semibold;
  }

  .primary-600-medium {
    @apply text-primary-600 font-medium;
  }

  /* ... */
}

@layer base {
  body {
    min-width: 100vw;
    font-smooth: always;
  }
}
