@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@layer components {
  .box-flex {
    @apply flex flex-col justify-center items-center;
  }
  .side-info {
    @apply mt-[130px] w-[296px] max-w-[504px] h-full box-border lg:px-4 xl:px-6 3xl:px-0 3xl:flex-grow flex-shrink-0 flex flex-col items-center gap-16;
  }
  .menu-title {
    @apply text-black text-3xl font-bold font-['Pretendard'];
  }
  .xs-title {
    @apply text-gray-800 text-sm font-semibold font-['Pretendard'] leading-[21px];
  }
  .s-title {
    @apply self-stretch text-gray-800 text-base font-semibold font-['Pretendard'] leading-normal;
  }
  .m-title {
    @apply text-gray-900 text-xl font-bold font-['Pretendard'] leading-tight;
  }
  .s-placeholder {
    @apply text-gray-400 text-base font-normal font-['Pretendard'];
  }
  .m-placeholder {
    @apply text-gray-300 text-2xl font-semibold font-['Pretendard'];
  }
  .class-box {
    @apply w-full flex flex-col gap-[40px] px-6 py-8 bg-white rounded-xl border border-gray-200;
  }
  .time-box {
    @apply relative flex justify-center items-center w-[124px] h-[42px] p-3 bg-white rounded-lg border border-gray-300;
  }
  .bold-500 {
    @apply font-bold text-primary-500 font-sans;
  }
  .medium-500 {
    @apply font-medium text-primary-500 font-sans;
  }

  /* ... */
}

body {
  max-width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */
}
